* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #d2e964,
    #d7ec88,
    #ddeeaa,
    #e4efc9,
    #edf0e7
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
header img {
  height: 50px;
  margin-right: 10px;
}

form {
  text-align: center;
  margin: 15px 0;
}

form input,
button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

form button {
  background-color: #badf00;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

table {
  width: 500px;
  margin: 10px auto;
}

thead th {
  border-bottom: 2px solid;
  padding: 8px;
  font-size: 20px;
}

tbody td {
  border-bottom: 1px solid;
  padding: 8px;
}

tfoot td {
  border-bottom: 2px solid;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
}

tbody td:nth-child(2),
tfoot td:nth-child(2) {
  text-align: center;
}
